//maven.zixel.cn/repository/npm-hosted/:_authToken=NpmToken.eef3505d-4a01-36ec-9f71-1d37dc5e5a7e
registry=https://registry.npmmirror.com

@zixel:registry=https://maven.zixel.cn/repository/npm-hosted/
